In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
albums_list=pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/',header=0)

In [4]:
albums=albums_list[0]
albums.head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

In [5]:
# Zamień nagłówki kolumn na polskie odpowiedniki:

In [5]:
albums.rename(columns={'POS':'MIEJSCE','TITLE':'TYTUŁ','ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'NAJWYŻSZE MIEJSCE'},inplace=True)
albums.head()

,MIEJSCE,TYTUŁ,ARTYSTA,ROK,NAJWYŻSZE MIEJSCE
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1

In [ ]:
# Ilu pojedynczych artystów znajduje się na liście?

In [6]:
albums['ARTYSTA'].nunique()

47

In [ ]:
# Które zespoły pojawiają się najczęściej na liście?

In [7]:
albums['ARTYSTA'].value_counts()[:5]

COLDPLAY         3
TAKE THAT        3
FLEETWOOD MAC    2
ABBA             2
DIDO             2
Name: ARTYSTA, dtype: int64

In [ ]:
# Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [8]:
albums.rename(str.capitalize, axis='columns',inplace=True)
albums.head()

,Miejsce,Tytuł,Artysta,Rok,Najwyższe miejsce
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1

In [ ]:
# Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [9]:
albums.drop('Najwyższe miejsce',axis=1,inplace=True)
albums.head()

   Miejsce                                 Tytuł  Artysta   Rok
0        1                         GREATEST HITS    QUEEN  1981
1        2                  GOLD - GREATEST HITS     ABBA  1992
2        3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3        4                                    21    ADELE  2011
4        5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

In [ ]:
# W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [10]:
albums['Rok'].value_counts()[:1]

2000    4
Name: Rok, dtype: int64

In [ ]:
# Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [11]:
len(albums[(albums['Rok']>=1960)&(albums['Rok']<=1990)])

22

In [ ]:
# W którym roku wydany został najmłodszy album na liście?

In [12]:
albums['Rok'].max()

2015

In [ ]:
# Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [13]:
albums.groupby('Artysta')['Rok'].min()

Artysta
ABBA                        1975
ADELE                       2011
ALANIS MORISSETTE           1995
AMY WINEHOUSE               2006
BEATLES                     1967
BOB MARLEY & THE WAILERS    1984
COLDPLAY                    2000
CORRS                       1997
DAVID GRAY                  1998
DIDO                        2000
DIRE STRAITS                1985
ED SHEERAN                  2014
EMINEM                      2000
FLEETWOOD MAC               1977
GEORGE MICHAEL              1998
JAMES BLUNT                 2004
JEFF WAYNE                  1978
KEANE                       2004
KINGS OF LEON               2008
LADY GAGA                   2008
LEONA LEWIS                 2007
MADONNA                     1990
MEAT LOAF                   1977
MICHAEL BUBLE               2009
MICHAEL JACKSON             1982
MIKE OLDFIELD               1973
NORAH JONES                 2002
OASIS                       1995
ORIGINAL CAST RECORDING     1965
ORIGINAL SOUNDTRACK         1977
PAUL SIMON                  1986
PHIL COLLINS                1989
PINK FLOYD                  1973
QUEEN                       1981
REM                         1992
ROBBIE WILLIAMS             1998
SCISSOR SISTERS             2004
SHANIA TWAIN                1997
SIMON & GARFUNKEL           1970
SIMPLY RED                  1991
SNOW PATROL                 2006
SPICE GIRLS                 1996
TAKE THAT                   2005
TRACY CHAPMAN               1988
TRAVIS                      1999
U2                          1987
VERVE                       1997
Name: Rok, dtype: int64

In [ ]:
# Listę zapisz do pliku csv.

In [14]:
albums.to_csv('albums.csv',index=False)